# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
package-lock.json
yarn.lock

# Logs
logs/
*.log
*.log.*

# Environment variables
.env

# Build output
dist/
build/

# Cache
.cache/
.vscode/
.DS_Store

# Sensitive files
Backend/.env
Frontend/.env.local

# IDE specific files
.idea/
*.iml

# Miscellaneous
*.swp
*.swo